<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bughunters.mountainspirit.crew.query.mapper.CrewMapper">
    <resultMap id="crewResultMap" type="com.bughunters.mountainspirit.crew.query.dto.CrewDTO">
        <id property="id" column="id"/>
        <result property="crewName" column="crewName"/>
        <result property="crewIsRecruit" column="crewIsRecruit"/>
        <result property="crewCreateDate" column="crewCreateDate"/>
        <result property="crewMaxPeople" column="crewMaxPeople"/>
        <result property="crewIntro" column="crewIntro"/>
        <result property="crewIsDeleted" column="crewIsDeleted"/>
        <result property="crewBanDate" column="crewBanDate"/>
        <result property="crewRankGauge" column="crewRankGauge"/>
    </resultMap>
    <select id="findAllCrews" resultMap="crewResultMap">
        SELECT
               a.id
             , a.crewName
             , a.crewIsRecruit
             , a.crewCreateDate
             , a.crewMaxPeople
             , a.crewIntro
             , a.crewIsDeleted
             , a.crewBanDate
             , a.crewRankGauge
          FROM Crew a
    </select>
    <select id="findOneCrewById" resultMap="crewResultMap" parameterType="_int">
        SELECT
               a.id
             , a.crewName
             , a.crewIsRecruit
             , a.crewCreateDate
             , a.crewMaxPeople
             , a.crewIntro
             , a.crewIsDeleted
             , a.crewBanDate
             , a.crewRankGauge
          FROM Crew a
         WHERE a.id = ${crewId}
    </select>
</mapper>