<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bughunters.mountainspirit.crew.query.mapper.CrewMapper">
    <resultMap id="crewResultMap" type="com.bughunters.mountainspirit.crew.query.dto.CrewDTO">
        <id property="id" column="id"/>
        <result property="crewName" column="crewName"/>
        <result property="crewIsRecruit" column="crewIsRecruit"/>
        <result property="crewMaxPeople" column="crewMaxPeople"/>
        <result property="crewRankGauge" column="crewRankGauge"/>
    </resultMap>
    <resultMap id="crewInfoResultMap" type="com.bughunters.mountainspirit.crew.query.dto.CrewInfoDTO">
        <id property="id" column="id"/>
        <result property="crewName" column="crewName"/>
        <result property="crewIsRecruit" column="crewIsRecruit"/>
        <result property="crewCreateDate" column="crewCreateDate"/>
        <result property="crewMaxPeople" column="crewMaxPeople"/>
        <result property="crewIntro" column="crewIntro"/>
        <result property="crewRankGauge" column="crewRankGauge"/>
    </resultMap>
    <select id="findAllCrews" resultMap="crewResultMap">
        SELECT
               a.id
             , a.crewName
             , a.crewIsRecruit
             , a.crewMaxPeople
             , a.crewRankGauge
          FROM Crew a
         WHERE a.crewIsDeleted = 'N'
         ORDER BY RAND()
         LIMIT 10
--       추후에 RAND()가 아닌 MRR기술등을 이용해서 랜덤값 추출 최적화 필요(RAND() 방식은 성능적으로 좋은 방법이 아니다.)
    </select>
    <select id="findOneCrewById" resultMap="crewInfoResultMap" parameterType="_long">
        SELECT
               a.id
             , a.crewName
             , a.crewIsRecruit
             , a.crewCreateDate
             , a.crewMaxPeople
             , a.crewIntro
             , a.crewRankGauge
          FROM Crew a
         WHERE a.id = ${crewId}
    </select>
</mapper>