<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bughunters.mountainspirit.mountainreview.query.mapper.CourseReviewGetMapper">
    <resultMap type="com.bughunters.mountainspirit.mountainreview.query.dto.CourseReviewDTO" id="courseReviewResultMap">
        <id property="id" column="id"/>
        <result property="commitDate" column="commitDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="reviewContent" column="reviewContent"/>
        <result property="poiId" column="poiId"/>
        <result property="cumId" column="cumId"/>
    </resultMap>
    <select id="selectCourseReviewByName" resultMap="courseReviewResultMap">
        select
               A.id
             , A.commitDate
             , A.updateDate
             , A.reviewContent
             , A.poiId
             , A.cumId
          from CourseReview A
          join Course B on B.poiId = A.poiId
         where B.placeNm = #{courseName}
    </select>
</mapper>