<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bughunters.mountainspirit.report.query.mapper.BanQueryMapper">
    <resultMap id="banQueryResultMap" type="com.bughunters.mountainspirit.report.query.dto.BanQueryDTO">
        <id property="id" column="id"/>
        <result property="startDate" column="startDate"/>
        <result property="endDate" column="endDate"/>
        <result property="userId" column="userId"/>
        <result property="adminId" column="adminId"/>
        <result property="annotation" column="annotation"/>
    </resultMap>
    <select id="selectAllBan" resultMap="banQueryResultMap">
        SELECT
               id
            , startDate
            , endDate
            , userId
            , adminId
            , annotation
        FROM Ban
        ORDER BY id DESC
        <if test="limit != null and offset != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    <select id="selectByIdBan" resultType="com.bughunters.mountainspirit.report.query.dto.BanByIdDTO">
        SELECT b.id AS banId,
               b.userId,
               m.memName,
               m.crewId,
               m.climbCnt,
               m.score,
               COUNT(r.id) AS reportCount

        FROM Ban b
                 LEFT JOIN Member m ON b.userId = m.id
                 LEFT JOIN Report r ON b.userId = r.reportedId

        WHERE b.id = #{id}
        GROUP BY b.id, b.userId, m.memName, m.crewId, m.climbCnt, m.score;
    </select>
</mapper>
